

  table {
    width: 500px;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    margin-left: 25rem;
    font-size: 1vw;
  }

  th,
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #f2f2f2;
    
  }

  th {
    background-color: #4CAF50;
    color: #fff;
  }

  tr:hover {
    background-color: #f2f2f2;
  }
  .chart{
    position: relative;
    height: 53vh;
    width: 53vw;
    margin-left: 200px;
  }
  .inventory-container{
    display: flex;
    justify-content: center;
    width: 100%;
  }
 


