body {
  font-family: Cambria, sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  background-color: #ffffffcb;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgb(255, 0, 0);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}
h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  outline: none;
  border-color: #69c;
}


button[type="submit"] {
  background-color: rgb(0, 125, 249);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #459;
}
